/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "welcome";
@import "navigation";
@import "footer";

body {
  min-height: 50rem;
  padding-top: 4.5rem;
  background-color: #e7d5ef;
  overflow-x: hidden;
}

.container{
	padding-top:15px;
}

.white{
	color: #ffffff;
}

.grey{
	color: #ddcccc;
}

.small-font{
	font-size: 11px;
}

.linktxt{
	color: #deddee;
}

.linktxt:hover{
	color: #ffffff;
}

thead{
	background-color: #553344;
	color: #ffffff;
}

.form-control{
	background-color: #efeeef;
	border: 3px solid #54acfc;
}

.form-control2 select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  padding-left: 0.3rem;
  line-height: 1.5;
  color: #777777;
  background-clip: padding-box;
  border-radius: 0.25rem;
  background-color: #efeeef;
  border: 3px solid #54acfc;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sm_style{
	font-size: 12px;
	margin-bottom: 3px;
}

.btn-light{
	border: 3px solid #54acfc;
}

.jumbotron{
	background-color: #a853fc;
}

.show_notice{
	margin: auto;
	width: 300px;
	color: #009900;
	font-size: 18px;
	padding: 15px;
	background-color: #ccddcc;
	text-align: center;
}

.show_alert{
	margin: auto;
	width: 300px;
	color: #ff0000;
	font-size: 18px;
	padding: 15px;
	background-color: #ddcccc;
	text-align: center;
}

@media (max-width: 576px)
{
	.show_notice{
		width: 100%;
	}
	.show_alert{
		width: 100%;
	}
}